/*fuentes*/
body{
        font-family: 'Telefonica' !important;
}

body.home{
    background-image: url(../img/fondo-header.jpg);
    background-position: 344px -305px;
    background-size: 1048px 1499px;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'Telefonica';
    src: url('../fuentes/Telefonica-Regular.woff2') format('woff2'),
        url('../fuentes/Telefonica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telefonica-bold';
    src: url('../fuentes/Telefonica-Bold.woff2') format('woff2'),
        url('../fuentes/Telefonica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telefonica-light';
    src: url('../fuentes/Telefonica-Light.woff2') format('woff2'),
        url('../fuentes/Telefonica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telefonica-ExtraLight';
    src: url('../fuentes/Telefonica-ExtraLight.woff2') format('woff2'),
        url('../fuentes/Telefonica-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/*ul.navbar-nav li {
  list-style: none;
  position: relative;
  display: inline;
}

ul.navbar-nav li a {
  color: #333;
  text-decoration: none;
}*/

#main-menu .parent:hover > .sub {
    display: none !important;
    -webkit-animation: fadeIn .4s;
    animation: fadeIn .4s;
}
#main-menu .sub {
    background: #0B2739 !important;
    -webkit-box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    display: none;
    margin: 0;
    padding: 10px 10px 10px 24px;
    position: absolute;
    z-index: 905;
}
ul.navbar-nav li.parent-t:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 16px;
  width: 0px;
  height: 2px;
  background: #019df4;
  transition: all 0.45s;
}

ul.navbar-nav li.parent-t:hover:after {
  width: 100%;
  left: 0;
}

ul.navbar-nav li.parent-t a:hover {
  text-decoration: none;
}
.header .container-m-30 {
    position: relative;
    width: 100%;
    max-width: 1300px;
}


#main-menu .navbar {
    background: none;
    border: 0 none;
    margin: 0;
    width: 100%;
    max-width: 1300px;
    /* margin: 0 auto; */
}


.cabezera-azul {
   width: 100%;
    height: 38px;
    background: #019DF4;
    padding-top: 13px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabezera-azul p {
    color: #FFF;
    text-align: center;
}

.header-1 #main-menu .nav.navbar-nav {
    margin-right: -46px !important;
}

.logo-2 img {
   width: 100%;
    max-width: 70px;
    display: block;
   


}

#main-menu .navbar {
    background: none;
    border: 0 none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header.no-transparent .logo-2 {
    padding: 0 !important;
}

.header-1 #main-menu .navbar .nav>li.current>a {
    padding: 18px 3px 5px 3px !important;
    margin: 0 12px 17px 12px;
    border-bottom: 2px solid rgba(45, 78, 83, 1);
    color: #4b4e53;

}

#main-menu .navbar .nav>li>a {
   padding: 18px 4px 5px 4px !important;
    margin: 0 10px 17px 8px !important;
    border-bottom: 2px solid rgba(45, 78, 83, 0);
    color: #4b4e53;
    letter-spacing: 0px !important;
    background-color: transparent;
    font-size: 0.83em !important;
    font-family: 'Telefonica';
}


#main-menu .navbar .nav>li>a .main-menu-title {
    line-height: 20px;
    color: #019DF4;
}


.cd-search-trigger::before {
    top: 11px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #019df4 !important;
}

.cd-search-trigger::after {
    height: 1px;
    width: 10px;
    background: #008cda !important;
    bottom: 16px;
    right: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul.cd-header-buttons {
    top: 7px;
    right: 140px;
}

.affix .cd-header-buttons {
    top: 7px;
}

.contenido-header {
    margin-top: 100px;
    margin-bottom: 300px;

}

.caja-texto {
    width: 100%;
    max-width: 1036px;
    margin: 0 auto;

}

.caja-texto h1 {
    font-size: 14em;
    font-family: 'Telefonica-ExtraLight';
    color: #0B2739;


}

.caja-texto h2 {
    font-family: 'Telefonica-ExtraLight';
    color: #019df4;
    font-size: 6em;
    font-weight: 500;
}

.caja-texto h3 {
    color: #019df4;
    font-weight: 400;
    font-family: 'Telefonica';

}

.header-1 #main-menu .navbar .nav>li.current>a {
    padding: 38px 3px 5px 3px;
    margin: 0 12px 17px 12px;
    border-bottom: 2px solid rgb(12 203 232) !important;
    color: #1766e9 !important;
}



.columnas-caja {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1428px;
    margin: 0 auto;

}

.texto-boton-izq {
    position: relative;
    left: -100px;

}


.texto-boton-izq h3 {
    color: #019df4;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Telefonica';
    margin: 0;
    margin-top: 35px;
}

.texto-boton-izq p {
    width: 100%;
    max-width: 385px;
    margin-top: 22px;
}

.texto-boton-der {
    position: relative;
    right: -65px;
}


.texto-boton-der h3 {
    color: #019df4;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Telefonica';
    margin: 0;
    margin-top: 50px;
}

.texto-boton-der p {
    width: 100%;
    max-width: 420px;
    margin-top: 22px;
}

.imagen-caja {
    width: 100%;
    max-width: 610px;
}

.imagen-caja img {
    width: 100%;
    max-width: 610px;
}

footer {
    background: #0B2739;
    margin-top: 120px;
}

.logo-footer img {
    width: 100%;
    max-width: 60px;
    display: block;
    margin-bottom: 29px;
}

footer.page-section.pt-80.pb-50 {
    padding-bottom: 150px;
}

.logo-footer p {
    color: #FFF;
    font-family: 'Telefonica';
}



.row.caja-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
}

.logo-footer {
    width: 100%;
    max-width: 580px;
}

.titulo-navegar h4 {
    color: #019df4;
    margin: 0;
}




.cols-contains {
    display: flex;
    justify-content: space-between;
}


.col1-1 ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    color: #FFF;
    font-family: 'Telefonica';
    line-height: 30px;
}

.columnas-footer {
    width: 100%;
    max-width: 384px;
    position: relative;
    top: 70px;
}

.logo-footer {
    max-height: 100% !important;
}



.boton-ver-mas {
    width: 100%;
    padding: 7px;
    max-width: 119px;
    border: 1px solid #019df4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    color: #019df4;
    cursor: pointer;
    transition: all 0.5s ease;
}

.boton-ver-mas:hover {
    background: #019df4;
    color: #FFF;


}

.boton-navegador-seccion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -167px;
}

.boton-navegador-seccion img {
    width: 100%;
    max-width: 80px;
    height: auto;
    display: block;
    cursor: pointer;
}




.btn-z {
  width: 30px;
  height: 30px;
  background: #0B2739;
  border: 1px solid #005bac;

  color: #FFF;
  padding: 15px 10px 5px;
  position: fixed;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
    transition: all 0.3s ease;
    z-index: 999999;
        right: 166px;
   font-family: "FontAwesome";
   content: "\f095";

}

.btn-z i{
    position: relative;
    top: -11px;
    right: 1.5px;
    font-size:1em;
        font-style: normal;
}
.btn-z:nth-of-type(1){
    -webkit-border-bottom-right-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-bottomright: 50px;
-moz-border-radius-bottomleft: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;

}
.btn-z:nth-of-type(2){

-webkit-border-top-left-radius: 50px;
-webkit-border-top-right-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-topright: 50px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
}

.btn-z:nth-of-type(3) > i{
     font-size:0.8em;
     position: relative;
     right: 0px;
     top: -12px;
}
.btn-z:hover{
 color: #019df4;
}

.zoom {
  bottom: 230px;
}

.zoom-out {
      bottom: 290px;
}
.zoom-init {
  bottom: 260px;
}


.hamb-mob-icon{
    color :#019df4 !important;
        padding: 14px 17px 22px 5px !important;
}




/*************************************Secciones Interna 1 el informe*******************************/


.banner-secciones-internas{
    background: url(../img/imagen1-interna.jpg);
    width: 100%;
    background-position: 0px -1px;
    background-size: cover;
        /*height: 339px;*/
        margin-top: 113px;


}




.caja-texto-seccion-banner h1{
    font-size: 9em;
    font-family: 'Telefonica-ExtraLight';
    color: #0B2739;
    margin:0;

}

.caja-texto-seccion-banner h2{
  
   font-family: 'Telefonica-light';
    color: #FFF;
        font-weight: 500;
    letter-spacing: 1px;
    font-size:3em;
    margin:0;
    
}

.caja-texto-seccion-banner p{
    color: #FFF;
    font-family: 'Telefonica';
    line-height: 65px;
}

.caja-texto-seccion-banner {
    padding: 45px;
}



@media (min-width: 1200px){

.contenedor-banner{
        width: 1235px !important;
}

.contenedor-seccion{
     width: 1235px !important;
}


}


.caja-anualmente{
        display: flex;
    width: 100%;
    max-width: 970px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #c3c4c6;
    margin-top:70px;
}

.imagen-anualmente{
    background: #c8cccf;
        width: 100%;
    max-width: 370px;
}

.imagen-anualmente img{
    width: 100%;
    max-width: 334px;
    display: block;
    margin: 0 auto;
}

.caja-texto-anualmente-interna {
    width: 100%;
    max-width: 558px;
   
    
}

.caja-texto-anualmente-interna h2, .caja-texto-anualmente-interna p {
        padding-left: 65px;
    margin: 0;
}

.caja-texto-anualmente-interna h2{
    color: #019df4;
}

.caja-texto-anualmente-interna p{
    margin-top:12px;
        width: 100%;
    max-width: 500px;
}




.caja-proceso-informe{
    width: 100%;
    max-width: 970px;
        margin: 0 auto;
}
.caja-proceso-informe h1{
    font-family: 'Telefonica';

}


.columnas-proceso-informe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja-texto-proceso-informe{
    width: 100%;
    max-width: 500px;
}


.cuadros-procesos img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.spacer-arround{
    width: 100%;
    max-width: 100px;
}

.caja-texto-proceso-informe h3{
    font-family: 'Telefonica';
    color: #019df4;
}

.caja-plan-negocio-rentable{
    background: #019df4;
        padding-bottom: 65px;

}

.caja-iconos-negocio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.imagen-podio img {
    width: 100%;
    max-width: 100px;
    display: block;
    margin:  0 auto;
}

.imagen-lapiz img{
    width: 100%;
    max-width: 100px;
    display: block;
    margin:0 auto;
}

.flecha img{
    width: 100%;
    max-width: 60px;
    display: block;
    margin:0 auto;
}

.imagenes-podio-lapiz {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 340px;
}

.imagen-podio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajas-datos {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
        max-width: 620px;
    padding-left: 30px;
}


.caja-texto-invitados h2{
    color:#FFF;
        font-size: 3em;
         
             margin: 0;
             font-family: 'Telefonica-bold';
}
.imagen-podio h4{
    margin: 0;
     font-family: 'Telefonica-bold';
}

.imagen-lapiz h4{
    margin: 0;
     font-family: 'Telefonica-bold';
}

.caja-texto-invitados h4{
    margin: 0;
    font-family: 'Telefonica-bold';
}
.caja-texto-invitados p{
    color: #FFF;
}

.caja-plan-negocio-rentable h1{
        color: #FFF;
    padding: 30px;
    margin-left:88px;
    font-family: 'Telefonica';
}

.invitados {
    margin-top: 28px;
}


.caja-asuntos-materiales{
        width: 100%;
    max-width: 970px;
    margin: 25px auto;
}
.caja-asuntos-materiales h1{
        font-family: 'Telefonica';
    color: #019df4;
}
.imagen-asuntos-materiales img{
        width: 100%;
   max-width: 792px;
    display: block;
    margin: 30px auto;
    padding-top: 30px;
    padding-bottom: 16px;
}

.imagen-grupos-interes img{
        width: 100%;
    display: block;
    margin: 0 auto;
}


.tabla-grande-actualizacion{
     width: 100%;
    max-width: 970px;
    margin: 0 auto;

}
.tabla-grande-actualizacion h1{
    font-family: 'Telefonica';
    color: #019df4;
}

.tabla-grande-actualizacion h4{
    color: #019df4;
    font-family: 'Telefonica';

}

.tabla-grande-actualizacion p{
        width: 100%;
    max-width: 551px;
    font-family: 'Telefonica';
    color: #FFF;
}



.tabla-seccion{
    background: #0B2739;
    position: relative;
    background-image: url(../img/fondo-tabla.jpg);
        background-size: cover;
}




/********************tabla grande actualizacion***********************/

.tg {
    border-collapse: collapse;
    border-spacing: 0;
        width: 100%;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: middle;
    border-left-color: transparent;
    border-right-color: transparent;

    color: #FFF;

}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: middle;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: 1px solid #fff;

    color: #FFF;

}


.tg2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 378px;
}


.tg2 td {
    
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg2 th {
    border-top-color: transparent;
    /*border-bottom: 1px solid #fff;*/
    border-right-color: transparent;
    border-left-color: transparent;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg2 .tg2-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tabla-genis{
    border-bottom: 1px solid #fff;
}



.border-tabla-titulo{
        border-color: transparent;
    border-bottom: 1px solid #019df4;
}

.border-tabla-row1{
        border-color: transparent;
    border-bottom: 1px solid #019df4;
}

th.tg-0pky.border-transparent {
    border-color: transparent;
}

.tabla-actualizacion-materiales{
        width: 100%;
    max-width: 970px;
    margin: 0 auto;
        padding-bottom: 100px;
            overflow-x: auto;
}




.caja-construccion-del-informe{
     width: 100%;
    max-width: 970px;
    margin: 0 auto;
        padding-bottom: 100px;
}

.imagen-dummy{
    width: 100%;
    display: flex;
    max-width: 307px;
    background: #CCC;
    padding: 20px;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.imagen-dummy p{
    color: #019DF4;
}

.columnas-contruccion-informe{
    display: flex;
        justify-content: space-between;
}
.caja-texto-construccion {
    width: 100%;
    max-width: 563px;
}

.imagen-construccion {
    width: 100%;
    max-width: 307px;
}
.cja-tabs-seccion {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff !important;
    cursor: default;
    background-color: #019DF4 !important;
    border-radius: 0;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.tab-content>.active {
    display: block;
    border: 2px solid #019DF4;
}

.nav-tabs>li>a {
    margin-right: 0 !important;
    line-height: 1.428571;
    /* border: 1px solid transparent; */
    border-radius: 0 !important;
    border: 2px solid #019DF4 !important;
}

.contenido-tabs-de-calidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.contenido-tabs-de-calidad p {
    position: relative;
}

.contenido-tabs-de-calidad p span:nth-of-type(1){
    color: #019DF4;
    font-size:2.4em;
        margin-right: 15px;
   
    position: relative;
    top: 7px;
}

.contenido-tabs-de-calidad p span:nth-of-type(2){
    color: #019DF4;
}
.caja-plan-comunicacion {
    background: #019df4;
    margin-top: 70px;
    
}
.columnas-comunicacion-seccion {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.imagen-comunicacion {
    width: 100%;
    max-width: 600px;
}

.imagen-comunicacion img{
        width: 100%;
    max-width: 470px;
    display: block;
    margin: 0 auto;
}

.texto-comunicacion {
    width: 100%;
    max-width: 500px;
        margin-top: 45px;

}
.texto-comunicacion h2{
    font-family: 'Telefonica' !important
}

.texto-comunicacion p{
    color: #FFF;
    font-family: 'Telefonica' !important
}


.imagen-grupos-interes-mobile{
    display: none;
}

/*************************************Secciones Interna 2 Gobernanza*******************************/


.banner-secciones-internas2{
    background: url(../img/imagen2-interna.jpg);
    width: 100%;
    background-position: 0px -1px;
    background-size: cover;
        /*height: 339px;*/
        margin-top: 113px;


}


.caja-estructura-gobernanza{
        display: flex;
    width: 100%;
    max-width: 970px;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    

}

.container-seccion2{
    width: 100%;
    max-width: 970px;
}
.titulo-secciones-gobernanza{
        margin-top: 35px;
}
.titulo-secciones-gobernanza h1{
color: #019DF4;

    margin: 0;
    position: relative;
}
.caja-texto-estructura-gobernanza{
        width: 100%;
    max-width: 435px;
}

.caja-texto-estructura-gobernanza img{
        width: 100%;
    max-width: 391px;
}

.caja-imagen-estructura-gobernanza {
    width: 100%;
    background: #dbe9f2;
    max-width: 505px;
}

.caja-imagen-estructura-gobernanza p{
        padding: 43px;
}
.caja-imagen-estructura-gobernanza-imagenes {
    display: flex;
    justify-content: space-between;
}

.caja-imagen-estructura-gobernanza-imagenes img{
        width: 100%;
    max-width: 384px;
    margin: 0 auto;
    display: block;
}

.caja-imagen-estructura-gobernanza-imagenes img:nth-of-type(1){
           width: 100%;
    max-width: 120px;
    height: 85px;
    padding-left: 39px;

}



.caja-atencion-accionista{
        background: url(../img/fondo-seccion-interna2.png);
    background-size: cover;
    background-position: 0px -178px;
    background-repeat: no-repeat;
}



.caja-atencion-accionista-texto {
    width: 100%;
    max-width:970px;
        margin: 0 auto;
            padding-top: 147px;
                padding-bottom: 100px;
}


.caja-atencion-accionista-texto h1{
    color: #0B2739;
}

.caja-atencion-accionista-texto h3{
    color: #0B2739;
}

.caja-atencion-accionista-texto p{
    color: #FFF;
}




.caja-composicion-texto-imagen{
    width: 100%;
    max-width:970px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 75px;
    padding-top: 42px;
    flex-wrap: wrap;
}

.caja-composicion-directiva{
    background: #0B2739;
}

.caja-composicion-directiva-texto h1{
     font-family: 'Telefonica' !important;
     color: #FFF;
    margin: 0;
}

.caja-composicion-directiva-texto ul{
     font-family: 'Telefonica' !important;
    list-style: none;
    padding: 0;
        padding-top: 33px;
}

.caja-composicion-directiva-texto ul li:nth-of-type(1){
    color: #019DF4;
        border-bottom: solid 1px;
    width: 100%;
    max-width: 370px;
}

.caja-composicion-directiva-texto ul li{
        padding-top: 6px;
        color: #FFF;
    border-bottom: 1px solid;
    width: 100%;
    max-width: 370px;
}


span.nombre-titulo-lista-directivas {
    margin-left: 57px;
}

span.nombre-titulo-lista-directivas1 {
    margin-left: 25px;
}

span.nombre-titulo-lista-directivas-last{
    margin-left: 49px;
}



.caja-composicion-directiva-imagen {
    width: 100%;
    max-width: 444px;
}





.caja-composicion-directiva-texto {
    width: 100%;
    max-width: 400px;
}


.caja-junta-directiva-texto h1{
    color:  #019DF4;
}

.caja-junta-directiva{
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items:flex-end;
        padding-bottom: 125px;
}
.caja-junta-directiva-texto {
    width: 100%;
    max-width: 500px;
}

.caja-junta-directiva-imagenes {
    display: flex;
        width: 100%;
    max-width: 433px;
    justify-content: space-between;
        position: relative;
    top: 44px;
        left: 30px;
}


.caja-junta-directiva-imagenes .grafico-genero img{
       width: 100%;
    max-width: 194px;
    height: 229px;
    display: block;
    margin: 0 auto;
}


.caja-junta-directiva-texto p{
    padding-top: 50px;
}

.grafico-genero h3{
    margin: 0;
    font-size:1.2em;
        color: #019DF4;
         font-family: 'Telefonica' !important;
}
.container-comite-auditoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        background: #0B2739;
}
.imagen-auditoria{

background: url(../img/imagen2-2-interna.jpg);
width: 100%;
max-width:540px;
background-size: cover;
background-repeat: no-repeat;
    background-position: 0px -9px;


}

.caja-imagen-genero img{
    width: 100%;
       max-width: 202px;
    height: 233px;
    display: block;
    margin: 0 auto;
}

.texto-auditoria {
    width: 100%;
    max-width: 600px;
        padding-right: 65px;
}
.texto-auditoria h1,.texto-auditoria h2{
     font-family: 'Telefonica' !important;
         color: #e0e2e4;
}
.texto-auditoria p{
        color: #e0e2e4;
}
.texto-auditoria ul{
        padding: 0;
    list-style: none;
     font-family: 'Telefonica' !important;
}

.texto-auditoria ul li:nth-of-type(1){
    color: #019DF4;
    border-bottom: solid 1px;
    width: 100%;
    max-width: 405px;
}

.texto-auditoria ul li{
    color: #FFF;
    border-bottom: solid 1px;
    width: 100%;
    max-width: 405px;
    padding-top: 6px;
}

.caja-imagenes-comite-auditoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 50px;
}


.caja-imagen-genero:nth-of-type(2){
 
}


.caja-imagen-genero h3{
        font-size: 1em;
    text-align: center;
    color: #019DF4;
}



.caja-conflictos-intereses{
       background: url(../img/nubes-movistar.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 531px -59px;
}

.caja-conflictos-intereses p{
    width: 100%;
    max-width: 668px;
        margin-top: 50px;
}


.caja-conflictos-intereses-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    align-items: flex-start;
    margin-top: 70px;

}


.imagen-intereses {
    width: 100%;
       max-width: 470px;
}



.texto-intereses {
    width: 100%;
    max-width: 400px;
}

.caja-conflictos-intereses2{
    margin-top:25px;
}






/**********************************ESTILOS RESPONSIVE*****************************/

.caja-texto-proceso-informe2{
    display: none;
}
.parrafo-hidden{
    display: block;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    font-size: 1.2em;


}
@media screen and (max-width: 1270px) {
#main-menu .navbar .nav>li>a {
    padding: 18px 4px 5px 4px !important;
    margin: 0 4px 17px 8px !important;
    border-bottom: 2px solid rgba(45, 78, 83, 0);
    color: #4b4e53;
    letter-spacing: 0px !important;
    background-color: transparent;
    font-size: 0.83em !important;
    font-family: 'Telefonica';
}

}

/*ipad*/
@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 1) {
    .imagen-auditoria {
    background-position: 0px -444px;
    height: 570px;
    max-width: 100%;
    width: 100%;
}

.container.contenedor-seccion.tabla-seccion {
    width: 100%;
}

.imagen-grupos-interes-mobile img:nth-of-type(2) {
    width: 100%;
}

}



@media screen and (max-width: 1024px) {
    #main-menu .navbar-collapse.collapse.in {
    display: block !important;
    width: 100%;
}

    .caja-asuntos-materiales h4{
        padding-left: 28px;
    }
    .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    font-size: 1.2em;
    width: 50%;
    text-align: center;
}
    .columnas-contruccion-informe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    .imagen-podio h4 {
    margin: 0;
    font-family: 'Telefonica-bold';
    font-size: 1em;
}

    .imagen-lapiz h4 {
    margin: 0;
    font-family: 'Telefonica-bold';
    font-size: 1em;
}
    .flecha img {
    width: 100%;
    max-width: 54px;
    display: block;
    margin: 0 ;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(
90deg
);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
   
}

.imagenes-podio-lapiz {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 191px;
}

.caja-texto-invitados h4 {
    margin: 0;
    font-family: 'Telefonica-bold';
    font-size: 1em;
}
.caja-texto-invitados h2 {
    color: #FFF;
    font-size: 2em;
    margin: 0;
    font-family: 'Telefonica-bold';
}
    .imagen-podio img {
    width: 100%;
    max-width: 60px;
    display: block;
    margin: 0 auto;
}
.imagen-lapiz img {
    width: 100%;
    max-width: 60px;
    display: block;
    margin: 0 auto;
}

    .caja-iconos-negocio{
        align-items: flex-start;
        justify-content: flex-start;
            padding-left: 20px;
    }


    .caja-plan-negocio-rentable h1{
        margin-left: 0;
    }

    .parrafo-hidden{
    display: none;
}

    .caja-texto-proceso-informe2{
        display: block;
    }

    .imagen-anualmente img {
    width: 100%;
    max-width: 253px;
    display: block;
    margin: 0;
}

    .caja-texto-anualmente-interna h2, .caja-texto-anualmente-interna p{
        padding: 20px;

    }
    .caja-texto-anualmente-interna p{
        padding-top: 0;
    }
    .caja-texto-anualmente-interna h2{
        padding-bottom: 0;
    }
    .container.container-padding {
    padding: 0;
    width: 100%;
}

    .imagen-anualmente{
        background: transparent;
    }

    .caja-texto-seccion-banner {
    padding: 18px;
}

    .contenedor-banner:nth-of-type(1){
        padding: 0;

    }

    .banner-secciones-internas{
        margin-top: 0;
    }

    .texto-comunicacion{
        padding: 40px;
        margin: 0 auto;
    }

    .imagen-comunicacion img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
    min-height: 621px;
}

.imagen-comunicacion{
    margin: 0 auto;
}

    .columnas-comunicacion-seccion{
        flex-direction: column;
    }

    

    .columnas-proceso-informe{
            flex-direction: column;
    }

    .imagen-comunicacion {
    width: 100%;
    max-width: 600px;
    order: 2;
}


/********************seccion interna 1 estilos responsive******************/

.caja-anualmente{
    flex-direction: column;
}





    #main-menu .navbar .nav>li>a .main-menu-title {
    line-height: 20px;
    color: #ffffff;
}
#main-menu .sub, #main-menu .parent .sub, #main-menu .parent:hover .sub {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
    background: #019df4 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    ul.cd-header-buttons {
    top: 7px;
    right: 65px;
}
.btn-z{
    right: 33px;
}
    .cd-search-trigger::after {
    width: 11px !important;
    bottom: 11px !important;
    right: 3px !important;
    height: 2px !important;
}
.cd-search-trigger::before {
    width: 22px !important;
    height: 22px !important;
    left: 15px !important;
    top: 10px !important;
    border: 2px solid #4b4e53 ;
}
    .columnas-caja{
        flex-direction: column;
    }
    .container-fluid.content-cajas {
    padding: 0;
}
.logo-2 img {
    width: 100%;
    max-width: 70px;
    display: block;
    float: none;
    position: relative;
    right: -45px;
}
    .imagen-caja {
    width: 100%;
    max-width: 100%;
}
    .imagen-caja img {
    width: 100%;
    max-width: 100%;
}
.texto-boton-izq {
    left: 0;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 31px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.texto-boton-der{
    right: 0;
    order: 2;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 31px;

        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    }
}
@media screen and (max-width: 800px) {
    .titulo-secciones-gobernanza {
    margin-top: 35px;
    padding: 33px;
}
    .imagen-construccion {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
    .imagen-dummy {
    width: 100%;
    display: block;
    max-width: 100%;
    background: #CCC;
    padding: 20px;
    height: 600px;
}
    .imagen-grupos-interes-mobile{
    display: block;
        width: 119%;
}
.imagen-grupos-interes-mobile img:nth-of-type(1){
        position: relative;
    left: -180px;
}
    .imagen-grupos-interes {
    display: none;
}
    .caja-composicion-directiva-imagen {
    width: 100%;
    max-width: 444px;
    padding: 33px;
}
    .caja-conflictos-intereses2{
        padding: 33px;
    }
    .texto-intereses {
    width: 100%;
    max-width: 400px;
    padding: 33px;
}
    .caja-composicion-directiva-texto {
    width: 100%;
    max-width: 400px;
    padding: 33px;
}
    .caja-conflictos-intereses {
    background: url(../img/nubes-movistar.png);
    background-size: 76%;
    background-repeat: no-repeat;
    background-position: 102px -38px;
    padding: 33px;
}
    .caja-conflictos-intereses h1{

    padding-top: 8px;

    }
    .imagen-auditoria{
          background-position: 0px -219px;
    height: 542px;

    }
    .texto-auditoria {
    width: 100%;
    max-width: 600px;
    padding-right: 65px;
    padding-left: 33px;
}
    .caja-imagenes-comite-auditoria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 50px;
}
    .container-comite-auditoria {
    display: flex;
    flex-wrap: wrap;
    background: #0B2739;
    justify-content: center;
    align-items: center;
   
}
    .caja-junta-directiva-texto{
        padding: 33px;
    }
    .caja-junta-directiva {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding-bottom: 125px;
}
    .caja-junta-directiva-imagenes {
    display: flex;
    width: 100%;
    max-width: 433px;
    justify-content: center;
    position: relative;
    top: 44px;
    left: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
    .caja-atencion-accionista-texto{
        padding-left:33px;
        padding-right: 20px;
    }
    .banner-secciones-internas2{
        margin-top:0;
    }
    .caja-estructura-gobernanza{
            justify-content: center;
    }

    .caja-atencion-accionista {
    background: url(../img/fondo-seccion-interna2.png);
    background-size: cover;
    background-position: 0px -153px;
    background-repeat: no-repeat;
    background-color: #019DF4;
}

    .caja-composicion-texto-imagen{
        justify-content: center;
    }
    .cajas-datos {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.banner-secciones-internas {
    background: url(../img/imagen1-interna.jpg);
    width: 100%;
    background-position: 0px -1px;
    background-size: 100%;
    /* height: 339px; */
    margin-top: 113px;
    background-repeat: no-repeat;
}
    .caja-texto-seccion-banner h2 {
    font-family: 'Telefonica-light';
    color: #FFF;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2em;
    margin: 0;
}
    .texto-asuntos-materiales {
    padding: 22px;
}
    .caja-asuntos-materiales h1 {
    font-family: 'Telefonica';
    color: #019df4;
    font-size: 2em;
    padding-left: 27px;
}
     .imagen-podio h4 {
    margin: 0;
    font-family: 'Telefonica-bold';
    font-size: 1em;
}

    .imagen-lapiz h4 {
    margin: 0;
    font-family: 'Telefonica-bold';
    font-size: 1em;
}
    .flecha img {
    width: 100%;
    max-width: 54px;
    display: block;
    margin: 0 ;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(
90deg
);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
   
}

.imagenes-podio-lapiz {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 191px;
}

.caja-texto-invitados h4 {
    margin: 0;
    font-family: 'Telefonica-bold';
    font-size: 1em;
}
.caja-texto-invitados h2 {
    color: #FFF;
    font-size: 2em;
    margin: 0;
    font-family: 'Telefonica-bold';
}
    .imagen-podio img {
    width: 100%;
    max-width: 60px;
    display: block;
    margin: 0 auto;
}
.imagen-lapiz img {
    width: 100%;
    max-width: 60px;
    display: block;
    margin: 0 auto;
}

    .caja-iconos-negocio{
        align-items: flex-start;
        justify-content: flex-start;
            padding-left: 20px;
    }


    .caja-plan-negocio-rentable h1{
        margin-left: 0;
    }

    .parrafo-hidden{
    display: none;
}

    .caja-texto-proceso-informe2{
        display: block;
    }

    .imagen-anualmente img {
    width: 100%;
    max-width: 253px;
    display: block;
    margin: 0;
}

    .caja-texto-anualmente-interna h2, .caja-texto-anualmente-interna p{
        padding: 20px;

    }
    .caja-texto-anualmente-interna p{
        padding-top: 0;
    }
    .caja-texto-anualmente-interna h2{
        padding-bottom: 0;
    }
    .container.container-padding {
    padding: 0;
}

    .imagen-anualmente{
        background: transparent;
    }

    .caja-texto-seccion-banner {
    padding: 18px;
}

    .contenedor-banner:nth-of-type(1){
        padding: 0;
        width: 100%;

    }

    .banner-secciones-internas{
        margin-top: 0;
    }

    .texto-comunicacion{
        padding: 40px;
        margin: 0 auto;
    }

    .imagen-comunicacion img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
    min-height: 621px;
}

.imagen-comunicacion{
    margin: 0 auto;
}

    .columnas-comunicacion-seccion{
        flex-direction: column;
    }
    .btn-z{
    right: 16px;
}
    .container-fluid.content-cajas {
    padding: 0;
}
    body.home {
    background-image: url(../img/fondo-header.jpg);
    background-position: -48px 100px;
    background-size: 100%;
    background-repeat: no-repeat;
}

    .boton-navegador-seccion img {
    width: 100%;
    max-width: 80px;
    height: auto;
    display: block;
    cursor: pointer;
    display: none;
}

  .contenido-header {
    margin-top: 45px;
    margin-bottom: 54px;
}
.caja-texto h1 {
    font-size: 8em;
    font-family: 'Telefonica-ExtraLight';
    color: #0B2739;

    margin-bottom: 2px;

}

.caja-texto h3 {
    color: #019df4;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Telefonica';
}

.caja-texto h2 {
    font-family: 'Telefonica-ExtraLight';
    color: #019df4;
    font-size: 3em;
    font-weight: 500;
    margin-top: 0px;
}
    ul.cd-header-buttons {
    top: 7px !important;
    right: 46px !important;
}
    .cd-search-trigger::after {
    width: 9px !important;
    bottom: 15px !important;
    right: 7px !important;
    height: 2px !important;
}
.cd-search-trigger::before {
    width: 18px !important;
    height: 18px !important;
    left: 15px !important;
    top: 10px !important;
    border: 2px solid #4b4e53;
}

    .row.caja-footer {
        flex-direction: column;
    }

    ul.cd-header-buttons {
        top: 20px;
        right: 40px;
    }

    .texto-boton-der {
        right: 0;
        order: 2;
        margin-top: 0px;
    margin-bottom: 40px;
        padding: 31px;
    }

    .texto-boton-izq {
    left: 0;
    margin-top: 0px;
    margin-bottom: 40px;
        padding: 31px;
}

    .columnas-caja {
        flex-direction: column;
    }

    .logo-2 img {
        float: none;
        right: 0;
    }

    .main-menu-container {

        position: relative;

    }

    .main-menu-container {
        background-color: transparent !important;
    }

    #main-menu .navbar-collapse.in {
        overflow: visible !important;
        background-color: #019df4;
    }

    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.4s ease;
        display: block;
    }

    .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 100%;
        left: 50%;
        transition: all 0.2s ease;
    }

    .navbar-collapse.show {
        left: 0;
    }
}